<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!-- Icons by https://www.iconfinder.com/iconsets/free-social-icons -->
          <li>
            <a href="http://github.com/{{site.github_username}}" title="Visit my GitHub">
              <span class="icon">{% include icon-github.svg %}</span>
            </a>
          </li>
          <li>
            <a href="https://ie.linkedin.com/in/darren-keane-a3506781" title="Visit my LinkedIn">
              <span class="icon">{% include icon-linkedin.svg %}</span>
            </a>
          </li>
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe via RSS">
              <span class="icon">{% include icon-rss.svg %}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>&copy;{{ 'now' | date:'%Y' }} Darren Keane</p>
      </div>
    </div>

  </div>

</footer>
