.site-title-container {
  text-align: center;
  padding-top: 10px;

  @media (max-width: $on-palm) {
    padding-bottom: 10px;
  }
}

.selfie {
  border-radius: 100%;
  margin: 0px 20px;
}

/* Header & Subheader Container */
.title {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.site-title-link {
  letter-spacing: 0px; /* Override */
}

.site-title-link:hover {
  text-decoration: none;
}

/* Override Navigation Alignment */
.center-nav {
  float: none;
  text-align: center;
}

/* Remove terrible Minima top border */
.site-header {
  border-top: none;
}
